.container {
    width: 100%;
    min-height: 100vh;
    background-color: #191919;
    color: #fff;
    padding-bottom: 2rem;
    text-align: center;
    padding-inline: 2rem;
    overflow: hidden;
    /* Para não aparecer barra de rolagem! */
}